{% extends "lab_8/layout/base.html" %}
{% block content %}
<p align = "right">
<button style="background-color: blue;color: white;" id = 'fblogin' onclick="facebookLogin()">Login with Facebook</button>
<button style="background-color: blue;color: white;" id="fblogout" class="logout" onclick="facebookLogout()">Logout</button>
</p>
<div id='lab8'></div>




{% endblock %}