<!-- templates/lab_6/partials/header.html -->
<nav class = "navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">P1scok</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
		<li class="nav-item">
		    <a class="nav-link" href="/lab-4/">Home</a>
		</li>
		<li class="nav-item" >
     		<a class="nav-link" href="/lab-2-addon/">About</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/lab-3/">Diary</a>
		</li>
	  </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>


