{% extends "base.html" %}
{% load staticfiles %}
{% block meta %}
	<meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
{% endblock %}
{% block title %} Lab 4 By {{author}}{% endblock %}
{% block stylescript %}
	<!-- bootstrap css -->
    <link href="/static/css/bootstrap-3.3.7.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/lab_4.css">
{% endblock %}
{% block header %}{% include "lab_4/partials/header.html" %}{% endblock %}
{% block footer %}{% include "lab_4/partials/footer.html" %}{% endblock %}
{% block scripts %}
    <!-- Jquery n Bootstrap Script -->
    <script type="application/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="application/javascript" src="/static/js/bootstrap-3.3.7.min.js"></script>
{% endblock %}
