{% extends "lab_4/layout/base.html" %}

    {% block content %}
	<center>
	<div class="col-md-8 col-xs-8">
		<h1>Portofolio</h1>
		<hr/>
		<img class="img-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5h7-03ZbFVfBddBeeGpV1OvobSfiUnuuM8wdu5aCehvMJtVAo"> 
		<hr/>
		<section name="bio">
			<h2>Biography</h2>
			<p>
				{{content}}
			</p>    
		</section>
		<hr/>
		<section name="about_me">
			<h2>About me</h2>
			<ul>
				{% for ii in about_me %}
				 <article> {{ ii }} </article>
				{% endfor %}
			</ul>
		</section>
		<hr/>
		<section name="form">
			<h2>Send Message</h2>
			<form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
				{% csrf_token %}
				{{ message_form }}
				<br>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</section>
		<br>
		<p>&copy; {{author}}</p>
	</div>
	</center>

    {% endblock %}
