<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
	<center>
	<div contenteditable>
	<span style="color: blue">
		<h1>Hello my name is {{ name }}</h1></span>
    <span style="color: red">
	<article> Im {{ age }} years old</article></font>
	<article> Im from Faculty of Computer Science</article></span>
	</div>
</body>
</html>
