<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>P1scok</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<style type="text/css">
	.splash {
		bottom: 0;
		left: 0;
		right: 0;
		background-image: url('http://sv.bagoum.com/wallpaper/nutella_olivia.jpg');
		background-size: cover;
		background-position: 50% 100%;
		background-repeat: repeat;
		bottom: 0;
		height: 100%;
		margin: auto;
		position: fixed;
		width: 100%;
		overflow: auto;
	}
	
	div.trans {
		background-color : rgba(0,0,0,0.6);
		border: 1px solid black;
	}

	div.trans2 {
		background-color : rgba(255,255,255,0.6);
		border: 1px solid black;
		overflow: auto;
	} 
	
    table, th, td {
        border: 1px solid black;
    }
    .subject{
        font-size: 20px;
        font-family: "Comic Sans MS";
        color: #6650ff;
    }
    .value{
        font-size: 20px;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        color: #ff102c;
    }
	
	.img-circle{
		width = 144px;
		height = 144px;
		border-radius: 50%;
	}
	
</style>
<body>
    <div class="splash">
		<div class ="trans">
			<a class="navbar-brand" href="#">P1scok</a>
			<button class="navbar-toggler" type="button" style="background:white" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">				  
					<li class="nav-item">
						<a class="nav-link" href="/lab-4/">Home</a>
					</li>
					<li class="nav-item" >
						<a class="nav-link" href="/lab-2-addon/">About</a>
					 </li>
					<li class="nav-item">
						<a class="nav-link" href="/lab-3/">Diary</a>
					</li>
					<li><a class="nav-link" href="{% url 'lab-4:index' %}#form"> Form </a></li>
					<li><a class="nav-link" href="{% url 'lab-4:result_table' %}"> Messages Table </a> </li>
				</ul>
			</div>
			</p>
		</div>
		<div class = "trans2">
			{% block content %}
			{% endblock %}
		</div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>
