<!-- templates/lab_5/partials/header.html -->
<nav class="navbar navbar-default navbar-static-top navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        
      </button>
      <a class="navbar-brand" href="{% url 'lab-4:index' %}">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
	<br><font size : 12>
		<a href="{% url 'lab-1:index' %}"> Lab 1 </a>
		<a> | </a>
        <a href="{% url 'lab-2:index2' %}"> Lab 2 </a>
		<a> | </a>
		<a href="{% url 'lab-2-addon:index_lab2_addon' %}"> Lab 2 addon </a>
		<a> | </a>
		<a href="{% url 'lab-3:index' %}"> Lab 3 </a>
		<a> | </a>
        <a href="{% url 'lab-4:index' %}"> Lab 4 </a>
		<a> | </a>
		<a href="{% url 'lab-5:index' %}"> Lab 5 </a>
		<a> | </a>
        <a href="{% url 'lab-6:index' %}"> Lab 6 </a>
		<a> | </a>
		<a href="{% url 'lab-8:index' %}"> Lab 7 </a>
		<a> | </a>
        <a href="{% url 'lab-8:index' %}"> Lab 8 </a>
	</font>
    </div><!--/.nav-collapse -->
  </div>
</nav>